.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 100%;
  overflow: hidden;
  background-color: darkcyan;
  margin: 10px;
  padding: 10px;
  display: inline-block;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


nav {
	background-color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

li {
	float: left;
  font-size: 25px;
  letter-spacing: 1px;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

li a:active{
  color: aquamarine;
  background-color:rgb(110, 55, 15);
}

li a:visited{
  color:deepskyblue;
  background-color: darkgoldenrod;
}

nav a {
  margin-right: 1rem;
}

nav img {
  height: 200px;
  margin-left: 1rem;
}

.card-container {
  display: flex;
}


.card h2{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  color: orange;
  font-size: 25px;
}

.card p{
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  margin-bottom: 20px;
  line-height: 1.5;
  color: white;
}

